*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

* a{ 
    text-decoration: none !important; 
    color:black;
}

body{
    background-color: #efefef;
}

.logo{
    width: 400px;
    margin: 120px calc(50% - 200px)
}

.about-text{
    width: 720px;
    display: inline-block;
    font-size: 1.8em;
    margin: 60px calc(50% - 360px)
}

.detail-text-wrap{
    text-align: center;
}

.detail-text-number{
    margin-right: 4px;
}
.detail-text-name{
    font-size: 1.4em;
    font-weight: 600;
    margin-right: 2px;
}
.detail-text-firstName{
    font-size: 1.3em;
    font-weight: 500;
}